.mt-1 {
  margin-top: calc(1%);
}
.mt-2 {
  margin-top: calc(2%);
}
.mt-3 {
  margin-top: calc(3%);
}
.mt-4 {
  margin-top: calc(4%);
}
.mt-5 {
  margin-top: calc(5%);
}
.color-white {
  color: white !important;
}
